language: php

php:
  - 7.3
  - 7.4
  - 8.0
  - nightly

matrix:
  allow_failures:
    - php: nightly

branches:
  only:
  - /.*/

env:
  - GOOGLE_APPLICATION_CREDENTIALS=~/emptycredentials.json

before_script:
  - composer install -o -vvv --no-interaction
  - pecl install grpc
  - pecl install protobuf
  - "sudo echo '{\"type\": \"authorized_user\",\"client_id\": \"\",\"client_secret\": \"\",\"refresh_token\": \"\"}' >> $GOOGLE_APPLICATION_CREDENTIALS"

script:
  - vendor/bin/phpunit --configuration phpunit.xml.dist --coverage-clover=coverage.xml
  - vendor/bin/phpcs --standard=phpcs_ruleset.xml -np

after_success:
  - bash <(curl -s https://codecov.io/bash)
