<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="vendor/autoload.php" colors="true">
    <testsuites>
        <testsuite name="all-tests">
            <directory suffix="Test.php">tests/Google/Ads/GoogleAds</directory>
        </testsuite>
    </testsuites>
    <logging>
        <log type="coverage-text" target="php://stdout"/>
    </logging>

    <filter>
        <whitelist>
            <directory>src</directory>
            <exclude>
                <directory>src/Google/Ads/GoogleAds/V*</directory>
            </exclude>
        </whitelist>
    </filter>
</phpunit>
